@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

*{
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
}


/* ------------------- */
.disp-flex{
    display: flex;
}
.flex-dir-col{
    flex-direction: column;
}
.justify-content--center{
    justify-content: center;
}
.justify-content--end{
    justify-content: flex-end;
}
.justify-content--start{
    justify-content: flex-start;
}
.justify-content--space-between{
    justify-content: space-between;
}
.align-items--center{
    align-items: center;
}
.align-items--flex-end{
    align-items: flex-end;
}
.align-self--start{
    align-self: start;
}
.align-self--end{
    align-self: flex-end;
}
.align-items--flex-start{
    align-items: flex-start;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex-100{
    flex: 1 1 100%;
}
.flex-95{
    flex: 1 1 95%;
}
.flex-85{
    flex: 1 1 85%;
}
.flex-80 {
    flex: 1 1 80%;
}
.flex-75{
    flex: 1 1 75%;
}
.flex-40{
    flex: 1 1 40%;
}
.flex-50{
    flex: 1 1 50%;
}
.flex-60{
    flex: 1 1 60%;
}
.flex-66{
    flex: 1 1 66.6%;
}
.flex-33{
    flex: 1 1 33.3%;
}
.flex-25{
    flex: 1 1 25%;
}
.flex-20{
    flex: 1 1 20%;
}
.flex-15{
    flex: 1 1 15%;
}
.flex-10{
    flex: 1 1 10%;
}
.flex-5{
    flex: 1 1 5%;
}


/*media query----------------------------------------*/
/*tablets*/
@media (max-width: 768px){
    .disp-flex{
        flex-wrap: wrap;
    }
    .flex-100{
        flex: 1 1 100%;
    }
    .flex-95{
        flex: 1 1 100%;
    }
    .flex-85{
        flex: 1 1 100%;
    }
    .flex-80 {
        flex: 1 1 100%;
    }
    .flex-75{
        flex: 1 1 100%;
    }
    .flex-40{
        flex: 1 1 100%;
    }
    .flex-50{
        flex: 1 1 100%;
    }
    .flex-66{
        flex: 1 1 100%;
    }
    .flex-60{
        flex: 1 1 100%;
    }
    .flex-66{
        flex: 1 1 100%;
    }
    .flex-33{
        flex: 1 1 100%;
    }
    .flex-25{
        flex: 1 1 100%;
    }
    .flex-20{
        flex: 1 1 100%;
    }
    .flex-15{
        flex: 1 1 100%;
    }
    .flex-10{
        flex: 1 1 100%;
    }
}