.BasicInfo{
    background-color: #faf0d6;
    min-height: 100vh;
}
.BasicInfo section{
    max-width: 436px;
    margin: 0 auto;
    padding: 0 10px;
}
.BasicInfo h1{
    font-size: 24px;
    margin: 0;
    color: #b79593;
}
.BasicInfo .dogImgBg{
    background-color: #ecb047;
    width: 88px;
    height: 88px;
    border-radius: 100px;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
}
.BasicInfo .doggyDataImage{
    width: 157px;
    position: absolute;
    left: 30px;
    top: 30px;
}

/* select---------------------- */
.BasicInfo .MuiSelect-icon{
    color: #faf0d6
}
.BasicInfo .MuiSelect-root{
    padding: 6px;
}
.BasicInfo .MuiFilledInput-underline:before{
    border-bottom: none;
}
.BasicInfo .MuiFilledInput-root{
    border-radius: 0;
}
/* end select---------------------- */

/* text input----------------- */
.BasicInfo .MuiFormLabel-root{
    color: #b79593;
}
.BasicInfo .MuiInput-underline:before{
    border-bottom: 1px solid #b79593;
}
/* end text input----------------- */