.Home{
    background-color: #faf0d6;
    min-height: 100vh;
}
.Home section{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 10px;
}
.Home h1{
    font-size: 35px;
    margin: 0;
    color: #b79593;
}
.Home .dogImgBg{
    background-color: #ecb047;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Home .doggyDataImage{
    width: 157px;
    position: absolute;
    left: 30px;
    top: 30px;
}

/* select---------------------- */
.Home .MuiSelect-icon{
    color: #faf0d6
}
.Home .MuiSelect-root{
    padding: 6px;
}
.Home .MuiFilledInput-underline:before{
    border-bottom: none;
}
.Home .MuiFilledInput-root{
    border-radius: 0;
}
/* end select---------------------- */

/* text input----------------- */
.Home .MuiFormLabel-root{
    color: #b79593;
}
.Home .MuiInput-underline:before{
    border-bottom: 1px solid #b79593;
}
/* end text input----------------- */


/*media query----------------------------------------*/
/*tablets*/
@media (max-width: 768px){
    .Home section{
        padding: 20px;
    }
    .Home .rightDiv{
        order: -1;
        justify-content: center;
        padding-bottom: 80px;
    }
}