.Result{
    background-color: #faf0d6;
    min-height: 100vh;
}
.Result section{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 10px;
}
.Result h1{
    font-size: 24px;
    margin: 0;
    color: #b79593;
}
.Result h2{
    font-size: 18px;
    color: #b79593;
}
.Result .dogImgBg{
    background-color: #ecb047;
    width: 88px;
    height: 88px;
    border-radius: 100px;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Result .doggyDataImage{
    width: 157px;
    position: absolute;
    left: 30px;
    top: 30px;
}
.Result .displayResultDiv span{
    color: #b79593;
}

/*media query----------------------------------------*/
/*tablets*/
@media (max-width: 768px){
    .Result h2{
        margin-top: 40px;
    }
}