.Start{
    background-color: #faf0d6;
    min-height: 100vh;
}
.Start section{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 10px;
}
.Start h1{
    font-size: 24px;
    margin: 0;
    color: #b79593;
}
.Start .dogImgBg{
    background-color: #ecb047;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Start .doggyDataImage{
    width: 157px;
    position: absolute;
    left: 30px;
    top: 30px;
}